@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.card {
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 5rem;
}

.titulo {
    font-size: 3rem;
}

.header {
    width: 50%;
}

.descripcion {
    font-size: 1.2rem;
    color: #505050;
    font-weight: 300;
    margin-block: 1rem;
}

.categoria {
    font-size: .8rem;
    font-weight: 300;
    color: gray;
    margin-block: 1rem;
}

.foto {
    cursor: zoom-in;
    width: 100%;
}

.boton {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 2rem 4rem;
    border-radius: 20px;
    margin-top: 3rem;
    border: transparent;
}

.menos {
    color: red;
}

.botonfinalizar {
    background-color: #000000;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 2rem 4rem;
    border-radius: 20px;
    margin-top: 3rem;
    border: transparent; 
    margin-left: 2rem;
}

.mas {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 2rem 2.5rem;
    border-radius: 20px;
    margin-top: 3rem;
}

.menos {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 2rem 2.5rem;
    border-radius: 20px;
    margin-top: 3rem;
}

.cantidad {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 2rem 2.2rem;
    border-radius: 30px;
    margin-top: 3rem;
    border: transparent; 
}

.contador {
    display: flex;
    align-items: center;
}

